---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>RelyPro Cleaning Advice</title>
    <link>{{ site.url }}/blog/</link>
    <description>{{ site.description | xmlEscape }}</description>
    <language>en-gb</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
{% for post in collections.publishedPosts %}
    <item>
      <title>{{ post.data.title | xmlEscape }}</title>
      <link>{{ post.url | absoluteUrl }}</link>
      <guid isPermaLink="true">{{ post.url | absoluteUrl }}</guid>
      <pubDate>{{ post.date | rfc822Date }}</pubDate>
      <description>{{ post.data.description | xmlEscape }}</description>
    </item>
{% endfor %}
  </channel>
</rss>
